.DiceRoller{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}


.DiceRoller-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.DiceRoller button{
    width:15em;
    padding:1.5em;
    border: 0px;
    border-radius: 15px;
    color:red;
    background-color:white;
    margin-top: 3em;
    align-self: center;
}


.DiceRoller button:hover{
    cursor: pointer;
}

.DiceRoller-roll{
    border: 0px;
    border-radius: 10px;
    background-color:darkblue;
    opacity:0.7
}
